body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.graph {
  position: relative;
}

.vertex {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
}

#A { top: 50px; left: 100px; }
#B { top: 150px; left: 200px; }
#C { top: 250px; left: 100px; }
#D { top: 150px; left: 0; }

.edge {
  position: absolute;
  background-color: #2ecc71;
}

#edge1 { top: 60px; left: 110px; width: 80px; height: 3px; transform: rotate(45deg); }
#edge2 { top: 110px; left: 180px; width: 80px; height: 3px; transform: rotate(90deg); }
#edge3 { top: 210px; left: 180px; width: 80px; height: 3px; transform: rotate(135deg); }
#edge4 { top: 160px; left: 110px; width: 80px; height: 3px; transform: rotate(180deg); }
#edge5 { top: 60px; left: 110px; width: 80px; height: 3px; transform: rotate(225deg); }
#edge6 { top: 110px; left: 20px; width: 80px; height: 3px; transform: rotate(270deg); }
#edge7 { top: 210px; left: 20px; width: 80px; height: 3px; transform: rotate(315deg); }
#edge8 { top: 160px; left: 110px; width: 80px; height: 3px; transform: rotate(0deg); }
