/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*   
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

/* #home{
  height: 100%;
  width: 100%;
  background-color: black;
} */

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

html {
  scroll-behavior: smooth;
}

#nav {
  backdrop-filter: blur(10px);
  height: 7vh;
  position: fixed;
  display: flex;
  bottom: 0.5rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.9);
  width: 20%;
  margin: 1% 40%;
  border-radius:60px;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 100; /* or any higher value based on your design */

}

#nav i{
  font-size: 1.5rem;
  /* font-weight: 300; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}


#main{
  height: 40vh;
  width: 90%;
  padding: 40px;
  position: relative;
}

#logo{
  display: flex;
  align-items: center;
  justify-content: top;
}

#logo img{
  height: 30px;
  width: 30px;
}

#name{
  font-size: 20px;
  font-weight: 800;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#intro img {
  height: 300px;
  width: 800px;
  border-radius: 60px;
  animation: fadeInFromLeft 1s ease-out; /* Apply the animation */
}

#intro {
  height: 60vh;
  width: 10%;
  display: flex;
  margin: 100px 200px;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  flex-wrap: nowrap;
}

#text h2 {
  font-size: 60px;
  color: rgb(137, 237, 38);
  animation: fadeInFromRight 1s ease-out; /* Apply the animation */
}

#text h4 {
  font-size: 30px;
  white-space: nowrap;
  color: rgb(235, 250, 253);
  animation: fadeInFromRight 1s ease-out; /* Apply the animation */
}


#education{
  display: flex;
  height: 80vh;
  width: 90%;
  margin: 100px 200px;
  align-items: center;
  /* justify-content: center; */
  gap: 100px;
  z-index: 7;
  position: relative;
}

#education::after{
  transform: rotate(90deg) translate(16px, 4px);
}

#education img{
  border-radius: 50px;
  height: 400px;
  width: 500px;
  animation: fadeInFromLeft 1s ease-out; /* Apply the animation */
}

#education p{
  font-size: 30px;
  white-space: nowrap;
  font-weight: bolder;
  color: rgb(29, 226, 108);
  animation: fadeInFromRight 1s ease-out; /* Apply the animation */


}